@model List<Oda>
<a asp-action="Create" asp-controller="Oda" class="btn btn-primary"> Yeni Kayit </a>

<div class="card-header">
     <h3> Odalar </h3>
</div>
<div class="card-body"> 
    <table class="table table-hover">
        <thead>
            <tr>
                <td> Oda No</td>
                <td> Kisi Sayisi</td>
                <td> Durum </td>
            </tr>
        </thead>
        <tbody>
            @foreach (Oda Oda in Model)
            {
                <td> @Oda.Id </td>
                <td> @Oda.KisiSayisi</td>
                <td> @Oda.Durum </td>
                <td><a asp-action="Update" asp-controller="Oda" class="btn btn-success" asp-route-Id="@Oda.Id">Update</a> </td>
                        <td><a asp-action="Delete" asp-controller="Oda" class="btn btn-danger" asp-route-Id="@Oda.Id">Delete</a> </td>
            }
        </tbody>
    </table>
</div>
